<h1>Listing Players</h1>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Bats</th>
    <th>Throws</th>
  </tr>
  <%= for player <- @players do %>
    <tr>
      <td><%= player.name_first %></td>
      <td><%= player.name_last %></td>
      <td><%= player.height %></td>
      <td><%= player.weight %></td>
      <td><%= player.bats %></td>
      <td><%= player.throws %></td>
    </tr>
  <% end %>
</table>
