<h1><%= @team.name %></h1>
<table>
  <tr>
    <th>Year</th>
    <th>League</th>
    <th>Franchise</th>
    <th>Rank</th>
    <th>W - L</th>
  </tr>
  <tr>
    <td><%= @team.year_id %></td>
    <td><%= @team.league_id %></td>
    <td><%= @team.franchise_id %></td>
    <td><%= @team.rank %></td>
    <td><%= @team.w %> - <%= @team.l %></td>
  </tr>
</table>
